<section class="subscribe">
    <img class="subscribe-banner" src="../../../assets/mainBanner.jpg" alt="">

    <div class="subscribe-message">
        <h2>Subscribe to our newsletter to get updates to our latest collections</h2>
        <p>Get 20% off on your just by subscribing to our newsletter</p>
    </div>
    <div class="subscribe-input">

        <div class="group">
            <div class="search--input">
                <mat-icon>loupe</mat-icon>
                <input type="email" name="email" id="email" placeholder="Enter your email">
            </div>
            <button>Subscribe</button>
        </div>
        <div class="policy">
            <p>You will be able to unsubscribe at any time.</p>
            <p>Read our Privacy Policy <a href="#">here</a></p>
        </div>
    </div>
</section>
