<section class="about-us">
    <div class="message">
        <h2>We provide best customer experiences</h2>
        <p>We ensure our customers have the best shopping experience</p>
    </div>

    <div class="card">
        <article>
            <mat-icon>add_shopping_cart</mat-icon>
            <h5>Original Products</h5>
            <p>We provide money back guarantee if the product are not original</p>
        </article>

        <article>
            <mat-icon>face</mat-icon>
            <h5>Satisfaction Guarantee</h5>
            <p>Exchange the product you have purchase if it does not fit on you</p>
        </article>

        <article>
            <mat-icon>watch_later</mat-icon>
            <h5>New Arrival EveryDay</h5>
            <p>We updates our collections almost everyday</p>
        </article>

        <article>
            <mat-icon> directions_car</mat-icon>
            <h5>Fast & Free Shipping</h5>
            <p>We offer fast and free shipping for our loyal customers</p>
        </article>
    </div>
</section>
