<section class="about-us">
    <div>
        <h2>We provide best customer experiences</h2>
        <p>We ensure our customers have the best shopping experience</p>
    </div>

    <div class="card">
        <article style="border: 1px solid black;">
            <p>icon</p>
            <p>Original Products</p>
            <p>We provide money back guarantee if the product are not original</p>
        </article>

        <article style="border: 1px solid black;">
            <p>icon</p>
            <p>Satisfaction Guarantee</p>
            <p>Exchange the product you have purchase if it does not fit on you</p>
        </article>

        <article style="border: 1px solid black;">
            <p>icon</p>
            <p>New Arrival EveryDay</p>
            <p>We updates our collections almost everyday</p>
        </article>

        <article style="border: 1px solid black;">
            <p>icon</p>
            <p>Fast & Free Shipping</p>
            <p>We offer fast and free shipping for our loyal customers</p>
        </article>
    </div>
</section>
