<section class="currated-products">
    <h2>Currated picks</h2>
    <div class="card">
        <div class="pick">
            <div class="content">
                <button type="button">Best Seller</button>
            </div>
            
        </div>

        <div class="pick">
            <div class="content">
                <button>Shop Men</button>
            </div>
            
        </div>

        <div class="pick">
            <div class="content">
                <button>Shop Women</button>
            </div>
            
        </div>

        <div class="pick">
            <div class="content">
                <button>Shop Casual</button>
            </div>
            
        </div>
    </div>
</section>