<section>
    <h2>Currated picks</h2>
    <div>
        <div>
            <img src="../../../assets/visitor/curratedPicks/bestSeller.png" alt="">
            <button>Best Seller</button>
        </div>

        <div>
            <img src="../../../assets/visitor/curratedPicks/men.jfif" alt="">
            <button>Shop Men</button>
        </div>

        <div>
            <img src="../../../assets/visitor/curratedPicks/women.jfif" alt="">
            <button>Shop Women</button>
        </div>

        <div>
            <img src="../../../assets/visitor/curratedPicks/casual.jpg" alt="">
            <button>Shop Casual</button>
        </div>
    </div>
</section>