<section>
    <h2>Featured products</h2>
    <div>
        <article style="border: 1px solid black;">
            <img src="../../../assets/visitor/featuredProducts/camisa.jfif" alt="">
            <h4>Autumn Dress</h4>
            <span>$58</span>
            <span>$65</span>
        </article>

        <article style="border: 1px solid black;">
            <img src="../../../assets/visitor/featuredProducts/chaleco.jfif" alt="">
            <h4>Gray Shirt</h4>
            <span>$87</span>
        </article>

        <article style="border: 1px solid black;">
            <img src="../../../assets/visitor/featuredProducts/vestido.jfif" alt="">
            <h4>Leather Coat</h4>
            <span>$32</span>
            <span>$40</span>
        </article>
    </div>
</section>

