<section class="featured-products">
    <h2>Featured products</h2>
    <div class="products">
        <article>
            <img src="../../../assets/visitor/featuredProducts/camisa.jpg" alt="">
            <div class="description">
                <div class="information">
                    <h4>Autumn Dress</h4>
                    <span class="price">$58</span>
                    <span class="discount">$65</span>
                </div>
                <div class="add">
                    <mat-icon>add_shopping_cart</mat-icon>
                </div>
            </div>
        </article>

        <article>
            <img src="../../../assets/visitor/featuredProducts/camisa.jpg" alt="">
            <div class="description">
                <div class="information">
                    <h4>Autumn Dress</h4>
                    <span class="price">$58</span>
                    <span class="discount"></span>
                </div>
                <div class="add">
                    <mat-icon>add_shopping_cart</mat-icon>
                </div>
            </div>
        </article>

        <article>
            <img src="../../../assets/visitor/featuredProducts/camisa.jpg" alt="">
            <div class="description">
                <div class="information">
                    <h4>Autumn Dress</h4>
                    <span class="price">$58</span>
                    <span class="discount">$65</span>
                </div>
                <div class="add">
                    <mat-icon>add_shopping_cart</mat-icon>
                </div>
            </div>
        </article>
    </div>
</section>

