<footer>
    <div>
        <h2>Nostra</h2>
        <p>Specializes in providing high-quality, stylish products for your wardrobe</p>
    </div>

    <div>
        <h3>SHOP</h3>
        <ul>
            <li>All Collections</li>
            <li>Winter Edition</li>
            <li>Discount</li>
        </ul>
    </div>

    <div>
        <h3>COMPANY</h3>
        <ul>
            <li>About Us</li>
            <li>Contact</li>
            <li>Affiliates</li>
        </ul>
    </div>

    <div>
        <h3>SUPPORT</h3>
        <ul>
            <li>FAQs</li>
            <li>Cookie Policy</li>
            <li>Terms of Use</li>
        </ul>
    </div>

    <div>
        <h3>PAYMENT METHODS</h3>
        <div>
            <img src="../../../assets/footer/mastercard.png" alt="">
            <img src="../../../assets/footer/visa.png" alt="">
            <img src="../../../assets/footer/paypal.png" alt="">
        </div>
    </div>
</footer>
