<footer class="footer">
    <div class="content">
        <div>
            <h2>Nostra</h2>
            <p>Specializes in providing high-quality, stylish products for your wardrobe</p>
        </div>
    
        <div class="shop">
            <ul>
                <li><h3>SHOP</h3></li>
                <li><p>All Collections</p></li>
                <li><p>Winter Edition</p></li>
                <li><p>Discount</p></li>
            </ul>
        </div>
    
        <div class="company">
            <ul>
                <li><h3>COMPANY</h3></li>
                <li><p>About Us</p></li>
                <li><p>Contact</p></li>
                <li><p>Affiliates</p></li>
            </ul>
        </div>
    
        <div class="support">
            <ul>
                <li><h3>SUPPORT</h3></li>
                <li><p>FAQs</p></li>
                <li><p>Cookie Policy</p></li>
                <li><p>Terms of Use</p></li>
            </ul>
        </div>
    
        <div class="payment-methods">
            <h3>PAYMENT METHODS</h3>
            <div class="methods">
                <img src="../../../assets/footer/mastercard.png" alt="">
                <img src="../../../assets/footer/visa.png" alt="">
                <img src="../../../assets/footer/paypal.png" alt="">
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="line"></div>
        <p>Copyright 2023 Nostra. All right reserved</p>
    </div>
</footer>
