
.banner img {
    padding: 1.25rem;
    border-radius: 1.8rem;
}

/* Cuando la pantalla es mayor a 900px */
@media only screen and (min-width : 901px) {
    .banner img{
        width: 100%;
        height: 600px;
    }
}
    
/* Cuando la pantalla es menor a 900px  (tablets y teléfonos inteligentes)*/
@media only screen and (max-width : 900px) {
    .banner img{
        width: 100%;
        height: 250px;
    }
}





