.brand {
    padding: 1.25rem;
}
.brand div {
    display: grid;
    place-items: center; /* centrar horizontalmente los elementos con grid */
    align-items: center; /* centrar verticalmente los elementos con grid */
    row-gap: 1.25rem;
}

.brand div img{
    width: 3rem;
    height: 3rem;
}

/* Cuando la pantalla es mayor a 900px */
@media only screen and (min-width : 901px) {
    .brand div {
        grid-template-columns: repeat(8, 1fr);
    }
}
    
/* Cuando la pantalla es menor a 900px  (tablets y teléfonos inteligentes)*/
@media only screen and (max-width : 900px) {
    .brand div {
        grid-template-columns: repeat(4, 1fr);
    }
}