<section class="brand">
    <h2>Brands</h2>
    <div>
        <img src="../../../assets/visitor/brands/adidas.png" alt="">
        <img src="../../../assets/visitor/brands/nike.png" alt="">
        <img src="../../../assets/visitor/brands/gucci.png" alt="">
        <img src="../../../assets/visitor/brands/zara.png" alt="">
        <img src="../../../assets/visitor/brands/chanel.png" alt="">
        <img src="../../../assets/visitor/brands/ck.png" alt="">
        <img src="../../../assets/visitor/brands/dg.png" alt="">
        <img src="../../../assets/visitor/brands/levis.png" alt="">
    </div>

</section>
